@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

/* CSS Variables */
:root {
    --fretboard-height: 300; /* leave off px as we will handle this in the calc */
    --number-of-strings: 6;
    --string-height: 10;
    --half-string-height: calc(var(--string-height) / 2);
    --string-top-position: calc(var(--fretboard-height) / var(--number-of-strings) / 2 - var(--half-string-height));
    --double-fretmark-position-1: calc(var(--fretboard-height) * 0.25);
    --double-fretmark-position-2: calc(var(--fretboard-height) * 0.75);
    --noteDotOpacity: 0;
    --noteBackground: #008080;
}


* {
    margin: 0;
    padding: 0;
}

body{
    background: #353535;
    font-family: Lato, sans-serif;
}

/* changed display to block from flex as flex would not allow multiple lines */
.settings, .theory  {
    display: flex;
    color: #fff;
    padding: 20px;
    border-bottom: 1px solid #444;
    background: #282828;
}

.accidental-selector{
    margin-left: 20px;
}


#clear-button, #clear-button-theory {
    margin-left: 20px;
    width: 70px;
    text-align: center;
}

#get-chord {
    margin-left: 20px;
    height: 25px;
    width: 100px;
    text-align: center;

}


/* to enable the arrow buttons on the NumberOfFrets control in Chrome  */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{
    opacity: 1;
}

label{
    margin: 0 10px;
}

.fretboard{
    display: flex;
    flex-direction: column;
    background: #be975b url(../images/wood-pattern.png);
    width: 100%;
    min-width: 1500px;
    height: calc(var(--fretboard-height)* 1px);
    margin-top: 50px;
}

.string{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.string:before {
    content: '';
    width: 100%;
    height: calc(var(--string-height) * 1px);
    background: linear-gradient(#eee, #999);
    box-shadow: 76px 3px 10px #806233;
    z-index: 1;
    position: absolute;
    /*top: 22px;*/
    top: calc(var(--string-top-position) * 1px);
}

.note-fret{
    display: flex;
    flex: 1;
    border-right: 10px solid;
    border-image: linear-gradient(to left, #777, #bbb, #777) 1 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.note-fret:first-child {
    background: #161717;
    min-width: 76px;
    border-right: 12px solid;
    flex-grow: 0;
    flex-shrink: 0;
    border-image: linear-gradient(to left, #bbb, #fff, #bbb) 1, 100%;
}

.note-fret:before {
    content: attr(data-note);
    width: 33px;
    height: 33px;
    border-radius: 50%;
    line-height: 33px;
    text-align: center;
    background: var(--noteBackground);
    z-index: 2;
    color: #eee;
    opacity: var(--noteDotOpacity);
}

.single-fretmark:after, .double-fretmark:before, .double-fretmark:after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #806233;
}

.single-fretmark:after {
    top: calc(var(--fretboard-height) / 2 * 1px);
    transform: translate(0, -50%);
}

.double-fretmark:before {
    top: calc(var(--double-fretmark-position-1) * 1px);
    transform: translate(-140%, 70%);
}

.double-fretmark:after {
    top: calc(var(--double-fretmark-position-2) * 1px);
    transform: translate(-140%, -170%);
}

.fretNumbers{
    color: white;
    font-weight: 100;
    font-size: 2.5em;
    display: flex;
}

.note-name-section{
    width: 100%;
    color: #fff;
    font-weight: 100;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
}

.note-name-section span {
    padding: 10px;
    cursor: pointer;
}

.note-name-section span:hover{
    color: #00baba;
}


#show-all-notes, 
#show-multiple-notes, 
#select-individual-notes {
    margin-left: 50px;
}

.show-chords {
    color: #eee;
    padding-left: 100px;
}


/* .theory {
    display: flex;
    color: #fff;
    padding: 20px;
    border-bottom: 1px solid #444;
    background: #282828; 
} */